html, 
body {
    height: 100%;
    overflow-x: hidden;
}
body  {
    background-image: linear-gradient(90deg, #5dd1ee , #8b47d3 );
    border: 1px black;
}


.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_box {
    width: 45%;
    min-width: 40%;
    padding: 10px;
    border: 5px solid transparent;
    background-color: white;
    border-radius: 25px; 
    text-align: center;
}

